# ignore everything
/*
!*.cpp
!*.h
!LICENSE
!*.md
!*.dox
!.gitignore
!.codedocs
!CMakeLists.txt

!/Rgridinterp
/Rgridinterp/*
!/Rgridinterp/*.R
!/Rgridinterp/*.Rproj

.Rproj.user

!/docs
/docs/*
!/docs/*.png
